Example file .env

DOMAIN_NAME = ""
DATABASE_NAME = ""
MARIADB_ROOT_PASSW = ""
USERDB_NAME = ""
USERDB_PASSW = ""
ADMIN_WP = ""
ADMIN_WP_PASSW = ""
USER_WP = ""
USER_WP_PASSW = ""
MARIADB_VOLUME = ""
WORDPRESS_VOLUME = ""
VOLUMES = ""